<%- include('partials/header', { title: 'Error' }) %>
<div class="panel">
  <h2>Error</h2>
  <p><%= message %></p>
  <% if (stack) { %><pre><%= stack %></pre><% } %>
</div>
<%- include('partials/footer') %>
